<h2>The Hotel Error</h2>
<dl>
    <dt>I am having an error with the project.</dt>
    <dt>It works when compiled, but it does not work with Karma.</dt>
    <dt>This is what I get when I run the program.</dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture1.JPG"><img width="75%" src="assets/Hotel/Capture1.JPG"></a>
    </dd>
    <dt>This is what I get from Karma.</dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture2.JPG"><img width="75%" src="assets/Hotel/Capture2.JPG"></a>
    </dd>
    <dt>I am trying to use
    <a target="Yeto" href="assets/Hotel/navigation.component.txt">[navigation.component.ts]</a>
    to run the [getUserIdentity] method, which calls a [getUserIdentity] method in
    <a target="Yeto" href="assets/Hotel/api.service.txt">[api.service.ts]</a>.
  </dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture3.JPG"><img width="75%" src="assets/Hotel/Capture3.JPG"></a>
    </dd>
    <dt>This is what I have in
    <a target="Yeto" href="assets/Hotel/api.service.txt">[api.service.ts]</a>.
  </dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture4.JPG"><img width="75%" src="assets/Hotel/Capture4.JPG"></a>
    </dd>
    <dt>This is what I have in
    <a target="Yeto" href="assets/Hotel/app.component.spec.txt">[app.component.spec.ts]</a>.
  </dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture5.JPG"><img width="75%" src="assets/Hotel/Capture5.JPG"></a>
    </dd>
    <dt>This is what I have in
    <a target="Yeto" href="assets/Hotel/api.service.spec.txt">[api.service.spec.ts]</a>.
  </dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture6.JPG"><img width="75%" src="assets/Hotel/Capture6.JPG"></a>
    </dd>
    <dt>This is what I have in
    <a target="Yeto" href="assets/Hotel/navigation.component.spec.txt">[navigation.component.spec.ts]</a>.
  </dt>
    <dd>
        <a target="Yeto" href="assets/Hotel/Capture7.JPG"><img width="75%" src="assets/Hotel/Capture7.JPG"></a>
    </dd>
    <dt>Someone had suggested that I import the httpclienttestingmodule in my api.service.spec.ts file, and in my app.component.spec.ts.</dt>
    <dd></dd>
</dl>