<h2>The India Error</h2>
<dl>
    <dt>
    My project makes use of the HttpClient library to pull back information from the database. The User Proile is
    retrieved, and used to display the User's Email Address in the Navigation component.
  </dt>
    <dd>
        <a href="assets/India/Capture1.JPG">
            <img src="assets/India/Capture1.JPG">
        </a>
    </dd>

    <dt>
    I am running into a Karma issue. The error I am getting is as follows:
    <div>
      <code>TypeError: Cannot read properties of undefined (reading 'Name')</code>
    </div>
  </dt>
    <dd>
        <a href="assets/India/Capture2.JPG">
            <img src="assets/India/Capture2.JPG">
        </a>
    </dd>

    <dt>
    My code setup is as follows:
  </dt>
    <dd>
        The
        <a target="_blank" href="assets/India/navigation.component.txt">navigation.component.ts</a> calls
        <a target="_blank" href="assets/India/api.service.txt">api.service.ts</a>, which does an API call, and returns an instance of the
        <a target="_blank" href="assets/India/UserIdentityModel.txt">UserIdentityModel.ts</a>.
    </dd>

</dl>